.img_size {
	width:20%;
	margin: auto;
}
.shadow {
	text-shadow: 2px 5px 6px #aaa;
	
}
#color {
	background: green;
		
}
.font {
	font-family: lucida handwriting;
	color: orange;
	font-weight: bold
}
.border {
	border: 3px solid red;
	border-radius: 20%;
}
footer {
	background-color: #444;
	color: #aaa;
	border-top: 15px solid #000;
	border-bottom: 5px solid #f00;	
}
 footer a {
	color: #fff;
	text-transform: uppercase;
}
 footer p{
	margin: 2% auto;
}



